@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --button: #ff5831;
    --button_hover: rgba(255, 88, 49, 0.5);
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
.container{
    padding: 2rem 7%;
}
section{
    padding: 2rem 7%;
}

.btn{
    background: var(--button);
    color: #fff;
    width: 90px;
    height: 35px;
    border-radius: 25px;
    font-size: 15px;
    align-content: center;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
}
.btn:hover{
    background: var(--button_hover);
    color: #fff;
    box-shadow: #ff5831 0px 0px 10px 0px;
}

.head{
    width: 100%;
    height: 100px;
    padding-left: 48px;
    padding-right: 48px;
    border-bottom: 1px solid rgb(255, 88, 49);
}
.head .logo{
    width: 80px;
    height: 80px;
}
.nav-link{
    color: #fff !important;
    font-size: 1.6rem;
    margin-right: 10px;
}
.nav-link:hover{
    color: rgb(255, 88, 49) !important;
    border-bottom: 1px solid rgb(255, 88, 49);
    border-radius: 10px;
}
.nav-link_dropdown{
    color: #000000 !important;
    font-size: 1.6rem;
    border-radius: 25px;
}
.dropdown-menu{
    border-radius: 10px;
    border: 1px solid rgb(255, 88, 49);
    box-shadow: #ff5831 0px 0px 5px 0px;
}